
<div class="d-flex flex-column bd-highlight mb-3">
  <form class="mt-5 mr-5 ml-5 mb-1">
    <div class="form-group">
      <label for="exampleFormControlInput1">Title</label>
      <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Amazing title!">
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Description</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="10" placeholder="Tell your history!"></textarea>
    </div>
  </form>
  <div class="d-flex justify-content-end mr-5">
    <button type="button" class="btn btn-primary mb-5" (click)="save()">Publish</button>
  </div>

</div>
